body {
	padding-top : 200px;
}
/*having trouble getting background-image to work*/

p {
	font-family: arial;
	font-size: 1.0em;
	text-align: center;
}

form {
	font-family: arial;
	margin: auto;
}
button {
	height: 50px;
	width: 145px;
	margin: auto;
	text-align: center;
	font-size: 1.0em;
	border-color: grey;
	background-color:grey;
	border-radius: 18px;
	outline: none;
}

div.signature {
	padding-top: 270px;
	text-align: right;
	font-family: cursive;
	font-size: 10px;
	color: black;
}

